*.exe
*.la
*.lo
*.o
*~
.deps
.libs
/_site
/aclocal.m4
/autom4te.cache
/autoscan.log
/config.guess
/config.h
/config.h.in
/config.log
/config.status
/config.sub
/configure
/configure.scan
/depcomp
/install-sh
/lib
/libtool*
/ltmain.sh
/m4
/madoka.pc
/missing
/src
/stamp-h1
/test
/test-driver
compile
Makefile
Makefile.in
