<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01//EN" "http://www.w3.org/TR/html4/strict.dtd">
<html>
 <head lang="{{ page.lang }}">
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
  <title>{{ page.title }} - Madoka</title>
  <link href="http://fonts.googleapis.com/css?family=Lemon" rel="stylesheet" type="text/css">
  <link href="default.css" rel="stylesheet" type="text/css">
 </head>
 <body>
  <div id="header">
   <div id="name">
    Madoka
   </div>
   <div id="description">
    Count-Min sketch-based approximate counting library
   </div>
   <div style="clear: both"></div>
  </div>
  <div id="body">
   {{ content }}
   <div style="clear: both"></div>
  </div>
  <div id="footer">
   <div style="float: left">
    Copyright &copy; 2012 Susumu Yata
   </div>
   <div style="float: right">
    E-mail:
  ‮moc.liamg@atay.umusus‭
   </div>
   <div style="clear: both">
   </div>
  </div>
 </body>
</html>
